/*emphasize the 0.0% line*/
g.zero > line {
	stroke: black !important;
	stroke-width: 3px;
}

/*show the points even not hovered*/
.container .nv-point {
	fill-opacity: 1 !important;
}

#blockSelector {
	display: inline;
}

#select-individual-lbl {
	margin-left: 30px;
}

#individualSelector {
	width: 50%;
	display: inline;
}