#symbol-selector {
    width: 62%;
    margin: 0 auto;
}

.tickers-container {
    margin-top: 20px;
}

.index-box {
    float: left;
    width: 18%;
    display: block;
    text-decoration: none !important;
    margin-right: 2%;
    text-align: left;
    color: #aaa;
    border-bottom: 2px solid;
}

a.index-box:hover {

}

.index-box.price-up {
    color: #d53;
}

.index-box.price-down {
    color: #390;
}

.index-box .name {
    font-size: 20px;
}

.index-box .current {
    display: inline-block;
    font-weight: 700;
    font-size: 34px;
    margin: 2px 2px 2px 0;
}

.index-box .nums, .index-box .last-trade-day {
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    position: relative;
    top: 2px;
}

.details-container {
    padding-top: 20px;
    clear: both;
}

.details-container .price-table {
    float: left;
    display: inline-block;
    width: 20%;
}

.deviate-icon {
    cursor: pointer;
}

/*level and colors*/
/*900*/
.level-monthly-green { 
    background: #1B5E20;
}

/*800*/
.level-weekly-green {
    background: #2E7D32;
}

/*600*/
.level-daily-green {
    background: #43A047;
}

/*300*/
.level-60min-green {
    background: #81C784;
}

/*200*/
.level-30min-green {
    background: #A5D6A7;
}

/*100*/
.level-15min-green {
    background: #C8E6C9;
}

/*900*/
.level-monthly-red { 
    background: #B71C1C;
}

/*800*/
.level-weekly-red {
    background: #C62828;
}

/*600*/
.level-daily-red {
    background: #E53935;
}

/*300*/
.level-60min-red {
    background: #E57373;
}

/*200*/
.level-30min-red {
    background: #EF9A9A;
}

/*100*/
.level-15min-red {
    background: #FFCDD2;
}