<div class="popover">
    <div class="arrow"></div>
    <h3 class="popover-title" ng-bind="title" ng-show="title"></h3>
    <div class="popover-content">
    	<table class="table table-striped" >
        <thead>
        <tr>
            <th>排名</th>
            <th>日期</th>
            <th>乖离率</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in content track by $index" ng-class="{ 'info':currentDate === record.date }">
                <td class="col-xs-3">{{ $index + 1 }}</td>
                <td class="col-xs-5">{{ record.date }}</td>
                <td class="col-xs-4">{{ record[key] | number:2 }}%</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                </td>
            </tr>
        </tfoot>
      </table> 
    </div>
</div>