<div class="container-fluid">

<!--     <input type="text"
       placeholder="请输入代码或名称..."
       class="form-control"
       ng-model="selectedSymbol"
       typeahead="item.label for item in autocomplete($viewValue) | limitTo:10"
       typeahead-wait-ms="300"
       typeahead-template-url="partials/symbol.typeahead.html"
       typeahead-on-select="selectSymbol($item, $model, $label)"
     /> -->

    <tags-input ng-model="tags"
      placeholder="请输入代码或名称..."
      key-property="symbol"
      display-property="label"
      add-from-autocomplete-only="true"
      max-tags="5"
      on-tag-adding="addingSymbol($tag)"
      on-tag-added="addSymbol($tag)"
      on-tag-removed="removeSymbol($tag)"
      id="symbol-selector">
      <auto-complete source="loadShares($query)"
        template="partials/symbol.tags.html"
        display-property="symbol"
      >
      </auto-complete>
    </tags-input>

    <div class="tickers-container" ng-if="detailReady">

      <a href="#" target="_blank" data-symbol="{{ selectedSymbol.symbol }}" class="index-box" ng-class="{ 'price-up': selectedSymbol.record.price_change > 0, 'price-down': selectedSymbol.record.price_change < 0}" ng-repeat="selectedSymbol in selectedSymbols track by selectedSymbol.symbol">
          <div class="name">{{ selectedSymbol.name }} ({{ selectedSymbol.symbol }})</div>
          <span class="current">{{ selectedSymbol.record.close | number:2 }}</span>
          <span class="nums">
              <div class="per">{{ selectedSymbol.record.p_change * 100 | number:2 }}%</div>
              <div class="change">{{ selectedSymbol.record.price_change | number:2 }}</div>
          </span>
          <span class="last-trade-day">
              <div>最近交易日</div>
              <div>{{ selectedSymbol.record.date }}</div>
          </span>
      </a>
    </div>

    <div class="details-container" ng-if="detailReady">
      <table class="table table-striped price-table" ng-repeat="selectedSymbol in selectedSymbols track by selectedSymbol.symbol">
        <thead>
        <tr>
            <th>R/S</th>
            <th>价格</th>
            <th>幅度</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="price in selectedSymbol.sensiblePrices" ng-class="{ 'info':price.name === 'CLOSE', 'danger':price.percentageToClose < 0, 'success':price.percentageToClose > 0 }">
                <td class="col-xs-4">{{ price.name }}</td>
                <td class="col-xs-3">{{ price.price | number:2 }}</td>
                <td class="col-xs-3">
                    {{ price.percentageToClose | number:2 }}% 
                </td>
                <td class="col-xs-2">
                  <span ng-if="price.deviate" class="deviate-icon" data-placement="right" data-animation="am-flip-x" data-template-url="partials/popover/deviate.html" bs-popover="deviatePopover" data-auto-close="true">
                    <i class="icon-info-sign" ng-click="clickDeviate(selectedSymbol, price)"></i>
                  </span>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                </td>
            </tr>
        </tfoot>
      </table>    
    </div>

</div>