<div class="container">

    <input type="text"
       placeholder="请输入代码或名称..."
       class="form-control"
       ng-model="selectedSymbol"
       typeahead="item.label for item in autocomplete($viewValue) | limitTo:10"
       typeahead-wait-ms="300"
       typeahead-template-url="partials/symbol.typeahead.html"
       typeahead-on-select="selectSymbol($item, $model, $label)"
     />

     <div class="detail-container" ng-if="detailReady">

        <a href="#" target="_blank" data-symbol="{{ selectedSymbol.symbol }}" class="index-box" ng-class="{ 'price-up': selectedSymbol.record.price_change > 0, 'price-down': selectedSymbol.record.price_change < 0}">
            <div class="name">{{ selectedSymbol.name }} ({{ selectedSymbol.symbol }})</div>
            <span class="current">{{ selectedSymbol.record.close | number:2 }}</span>
            <span class="nums">
                <div class="per">{{ selectedSymbol.record.p_change }}%</div>
                <div class="change">{{ selectedSymbol.record.price_change | number:2 }}</div>
            </span>
        </a>

     </div>

</div>